extends layout

block header
    noscript
        meta(http-equiv='refresh', content='0; url=/nojs')

block content
    #wrapper.container-fluid
        .overlay
            .row-fluid
                .span4.offset4
    script(src='/js/vendor/require.js', data-main='js/main.js')
