extends layout

block header
    noscript
        meta(http-equiv='refresh', content='0; url=/nojs')

block content
    #wrapper.container-fluid
        script(src='/js/vendor/require.js', data-main='js/main.js')
