doctype 5
html
  head
    title Rouslan Abdrakhmanov
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/design/css/master.css')
    block header
  body
    block content
    include ga
