/*!
 * Custom styles
 *
 * heroku2.
 */

@import url(http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css);
@import url(http://fonts.googleapis.com/css?family=Allura|Marck+Script|Philosopher|Jura|Bad+Script|Coda|Oswald&subset=latin,cyrillic);
@import url(http://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.4/jquery.fancybox.min.css);
@import url(http://cdn.jsdelivr.net/flexslider/2.1/flexslider.css);
@import url(layout.less);
@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.0/css/font-awesome.min.css);
@import url(http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css);

/*
font-family: 'Allura', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Philosopher', sans-serif;
font-family: 'Jura', sans-serif;
font-family: 'Bad Script', cursive;
*/

* {
    font-family: 'Philosopher', sans-serif;
}

.overlay {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #FFF;
    background: #FFF;
    z-index:9999;
    color:white;
    background:url('../img/back.png') repeat;

    .row-fluid .span4 {

        .loader-img-content {
            padding: 20px;
            height: 60px;
            @import "loader.less";
        }

    }

}
