/*!
 * Custom styles
 *
 * heroku2.
 */

@import url(//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css);
@import url(//fonts.googleapis.com/css?family=Allura|Marck+Script|Philosopher|Jura|Bad+Script|Coda|Oswald&subset=latin,cyrillic);
@import url(//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.4/jquery.fancybox.min.css);
@import url(//cdn.jsdelivr.net/flexslider/2.1/flexslider.css);
@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.0/css/font-awesome.min.css);
@import url(layout.less);

/*
font-family: 'Allura', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Philosopher', sans-serif;
font-family: 'Jura', sans-serif;
font-family: 'Bad Script', cursive;
*/

* {
    font-family: 'Philosopher', sans-serif;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    background: #000;
    background: url('../img/back.png') repeat;
    z-index: 9999;

    .loader-content {
        width: 60px;
        margin: 0 auto;
        @import "loader.less";
    }
}
